body{
	margin: 0px;
	background-image: url("download (1).jpg");
	background-size:  cover;
	font-family: 'Anton', sans-serif;
}
.header{
	/*background-color: lightblue;*/
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;

}
.container{
	text-align: center;
	width: 400px;
}
input{
	margin-bottom: 20px;
}
.info{
	height: 300px;
	width: 370px;
	border-radius: 5px;
	/*color: green;*/
	margin-top: 20px;
	font-size: 1.5em;
}



